body {
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}
.wrapper2 {
  width: 30%;
  padding: 40px;
}
/* 
Sliders style
*/
.swok-slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .swok-slider__item {
} */
.swok-slider__item * {
  width: 100%;
  height: auto;
  display: block;
}
.swok-slider__button {
  position: absolute;
  top: 50%;
  width: 15%;
  height: 80%;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: transparent;
  outline: none;
  /* border: 2px dashed red; */
}
.swok-slider__button-prev {
  left: 0;
}
.swok-slider__button-prev::after {
  content: '<<';
}
.swok-slider__button-next {
  right: 0;
}
.swok-slider__button-next::before {
  content: '>>';
}
.swok-slider__points {
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.swok-slider__point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: #000000;
}
.swok-slider__point:not(:last-child) {
  margin-right: 8px;
}
